/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Michroma&display=swap");

:root {
  /* background color */
  --bg-blue: #3772ff;
  --bg-dark-black: #08071b;
  --bg-gray-black: #0f1123;

  /* text color */
  --text-white: hsla(0, 0%, 100%, 1);
  --text-gray: #605e72;
  --text-blue: #3772ff;
  --text-paragraph: #848296;

  /* font family */
  --fontFamily-michroma: "Michroma", sans-serif;
  --fontFamily-dm-sans: "DM Sans", sans-serif;

  /* font size */
  --fontSize-1: 60px;
  --fontSize-2: 40px;
  --fontSize-3: 24rem;
  --fontSize-4: 22px;
  --fontSize-5: 20px;
  --fontSize-6: 18px;
  --fontSize-7: 16px;
  --fontSize-8: 14px;
  --fontSize-9: 30px;
  --fontSize-10: 15px;

  /* font weight */
  --weight-regular: 400;
  --weight-semiBold: 500;
  --weight-bold: 700;

  --section-spacing: 67.5px 0;

  /* BOX SHADOW */

  --shadow: 0px 2px 5px 0px hsla(0, 4%, 50%, 0.2);

  /*** BORDER RADIUS*/

  --radius-circle: 50%;
  --radius-4: 22px;
  --radius-3: 21px;
  --radius-2: 12px;
  --radius-1: 8px;

  /**
     * TRANSITION
     */

  --transition-1: 800ms ease;
  --transition-2: 500ms ease;
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
}

/*-----------------------------------*\
    #RESET
  \*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
time,
span,
input,
button,
textarea,
ion-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
textarea {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

address {
  font-style: normal;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-dark-black);
  color: var(--text-white);
  font-family: var(--fontFamily-dm-sans);
  font-size: var(--fontSize-6);
  font-weight: var(--weight-regular);
  line-height: 1.6;
  overflow-x: hidden;
  position: relative;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-dark-black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-blue);
  border-radius: 10px;
  visibility: hidden;
}

:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

/* *****custom css***** */

h3 {
  line-height: 48px;
  font-size: var(--fontSize-9);
  font-weight: var(--weight-regular);
  font-family: var(--fontFamily-michroma);
}
h2 {
  line-height: 48px;
  font-size: var(--fontSize-2);
  font-weight: var(--weight-regular);
  font-family: var(--fontFamily-michroma);
}
h4 {
  line-height: 29px;
  font-size: var(--fontSize-4);
  font-weight: var(--weight-regular);
  font-family: var(--fontFamily-michroma);
}

p {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 30.4px;
  text-align: left;
  color: var(--text-gray);
}

.container {
  max-width: 1170px;
  padding-inline: 15px;
  margin: 0 auto;
}

/* logo */
header {
  padding: 28px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 67.5px;
}

.logo img {
  max-width: 189px;
}

nav {
  display: flex;
  gap: 45px;
}

nav ul {
  display: flex;
  gap: 45px;
}

nav ul li {
  font-size: var(--fontSize-8);
}

nav ul li {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: var(--transition-2);
  color: white;
}

nav ul li:hover {
  color: var(--text-blue);
}

.menu {
  display: none;
}

.menu .bx {
  font-size: 30px;
}

button {
  padding: 10px 42px;
  font-size: var(--fontSize-8);
  border-radius: var(--radius-4);
  background: var(--bg-blue);
  color: white;
  transition: var(--transition-2);
}

button:hover {
  scale: 1.1;
}

.hero {
  padding: var(--section-spacing);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.hero-content {
  max-width: 978px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-content h1 {
  font-size: var(--fontSize-1);
  font-family: var(--fontFamily-michroma);
  font-weight: 400;
  line-height: 96px;
  margin-bottom: 43px;
}

.hero-content h1 span {
  display: inline;
  color: var(--text-blue);
}

.hero-content button {
  padding: 10px 29px;
}

.hero-img {
  max-width: 1005px;
  margin-top: 65px;
}

.hero-img img {
  max-width: 100%;
}

.section-2 {
  padding: var(--section-spacing);
  overflow: hidden;
}

/* ****slider **** */

.slider-container {
  overflow: hidden;
  padding: 100px 0px 40px 0;
  border-top: var(--text-paragraph) 1px solid;
  opacity: 80%;
}

.slider {
  position: relative;
  max-width: 100%;
  background: rgb(64, 84, 172);
  background: linear-gradient(
    277deg,
    rgba(148, 160, 211, 0.838) 24%,
    rgba(42, 15, 15, 0.7091211484593838) 76%
  );
  z-index: 99999;
}

.slider .item {
  position: absolute;
  left: max(calc(170px * 5), 100%);
  animation-name: slider;
  animation-duration: 15s;
  transform: translateY(-50%);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item1 {
  animation-delay: 3s;
}
.item2 {
  animation-delay: 6s;
}
.item3 {
  animation-delay: 9s;
}
.item4 {
  animation-delay: 12s;
}
.item5 {
  animation-delay: 15s;
}

@keyframes slider {
  to {
    left: -300px;
  }
}

/* ****section 3**** */

.section-3 {
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: var(--section-spacing);
  gap: 4%;
}

/* section-3-image */

.s3-image {
  width: 48%;
}

.s3-image img {
  width: 120%;
  margin-left: -20%;
}

/* ***section3-content*** */

.s3-content {
  width: 48%;
}

.s3-content h3 {
  margin-bottom: 18px;
}
.s3-content p {
  margin-bottom: 32;
}

.counters {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
}

.counter p {
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
  color: white;
}

.s3-content button {
  padding: 10px 31px;
  margin-top: 32px;
}

/* ****section 4**** */

.s4-wraper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 4%;
  padding: var(--section-spacing);
}

.s4-content {
  width: 48%;
}

.s4-content h3 {
  margin-bottom: 18px;
}

.s4-content p {
  margin-bottom: 32px;
}

.s4-img {
  width: 48%;
}

.s4-img img {
  width: 100%;
}

.s4-content button {
  padding-inline-start: 10px 31px;
}

/* ****section 5**** */
.section-5 {
  padding: var(--section-spacing);
}

.s5-heading {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.s5-heading h3 {
  width: 50%;
}

.s5-wraper {
  width: 100%;
  display: flex;
  align-items: center;
}

.s5-img {
  width: 49%;
}

.s5-img img {
  width: 100%;
  margin-left: -36px;
}

.s5-contents {
  width: 51%;
}

.s5-contents .content {
  display: flex;
  align-items: center;
  padding: 35px 20px;
  border-radius: 12px;
  background: #0f1123;
  margin-bottom: 30px;
}

.s5-contents .content h4 {
  margin-bottom: 15px;
}

.s5-contents .content img {
  width: 96px;
}

.section-6 {
  padding: var(--section-spacing);
}

.s6-content {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 3%;
}

.s6-content .content-1 {
  width: 48%;
}

.s6-content .content-2 {
  width: 49%;
}

.s6-content .content-1 h3 {
  margin-bottom: 26px;
}

.s6-content .content-1 p {
  color: white;
  margin-bottom: 21px;
}

.s6-content .content-1 p span {
  display: inline;
  color: var(--text-blue);
}

.s6-content .content-1 img {
  width: 69px;
}

.s6-content .content-2 p {
  color: var(--text-white);
  margin-bottom: 18px;
}

.s6-content .content-2 h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.44px;
}

.s6-content .content-2 h6 {
  color: #848296;
  font-size: var(--fontSize-8);
  margin-top: 5px;
}

.s6-content .content-2 .reviews ul {
  display: flex;
  gap: 5px;
}

.s6-content .content-2 .reviews ul li img {
  width: 12.17px;
  margin-top: 5px;
}

/* section 7 tabs  */
.section-7 {
  padding: var(--section-spacing);
}

.s7-bg {
  background: #0f1123;
  padding: 28px 0;
}
.s7-line {
  border-bottom: #848296 solid 0.5px;
  opacity: 50%;
  padding-top: 25px;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(104px, 120px));
  gap: 2px;
}

.tab {
  padding: 10px 8px;
  background: none;
}

.tabs .tab:hover {
  scale: 1;
}

.click {
  background: var(--bg-blue);
}

/* content  */
.cards-container {
  padding-top: 50px;
  padding-bottom: 60px;
}
/* .card{
  width: 270px;
} */

.card-content {
  padding: 27px 22px;
  position: relative;
  width: 250px;
}

.card-heading {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.card-heading img {
  width: 18px;
}

.card-heading h6 {
  font-size: var(--fontSize-7);
  font-weight: var(--weight-semiBold);
}

.card-heading h6 span {
  font-size: 10px;
  display: inline;
}

.card-content h5 {
  font-size: var(--fontSize-5);
  font-weight: var(--weight-semiBold);
  margin-bottom: 10px;
}

.card-content p {
  font-size: var(--fontSize-7);
  font-weight: 500;
  line-height: 25.6px;
  color: white;
}

.card-content button {
  padding: 6px 14px;
  font-size: 7px;
  border-radius: 13px;
  background: #58bd7d;
  position: absolute;
  top: 42%;
  right: 0;
}

.card-content button span {
  display: inline;
}

.card img {
  max-width: 270px;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  justify-items: center;
  row-gap: 30px;
  column-gap: 20px;
  display: none;
}

.click-card {
  display: grid;
}

/* section-8  */

.section-8 {
  padding: var(--section-spacing);
}

.s8-bg {
  background-image: url("/image/s8-bg.png");
  background-size: cover;
  border: 2px solid var(--bg-gray-black);
  box-shadow: var(--shadow);
}

.s8-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 389px;
}

.s8-content {
  max-width: 600px;
}

.s8-content a {
  font-size: var(--fontSize-7);
  font-weight: var(--weight-semiBold);
  color: var(--text-blue);
}

.s8-content h2 {
  font-family: var(--fontFamily-michroma);
  font-size: var(--fontSize-9);
  line-height: 48px;
  font-weight: var(--weight-regular);
}

.s8-btn {
  position: relative;
}

.s8-btn::after {
  content: url("/image/dawn.png");
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.s8-btn button {
  color: white;
  font-size: var(--fontSize-8);
  font-weight: var(--weight-semiBold);
  padding: 10px 30px;
  border-radius: var(--radius-4);
  background: var(--bg-blue);
}

/* footer */
footer {
  margin-top: 80px;
  background: var(--bg-gray-black);
}
.footer-section-1 {
  padding: var(--section-spacing);
}
.footer-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-items .item1 img {
  margin-bottom: 24px;
}
.footer-items .item1 p {
  font-size: var(--fontSize-7);
  color: #848296;
  max-width: 316px;
  line-height: 30.4px;
}

.footer-items .item2 {
  max-width: 370px;
}

.footer-items .item2 h3 {
  font-size: var(--fontSize-6);
  margin-bottom: 24px;
  font-family: var(--fontFamily-michroma);
  font-weight: var(--weight-regular);
}
.footer-items .item2 p {
  font-size: var(--fontSize-7);
  margin-bottom: 7px;
}

.footer-items .item2 p span {
  color: var(--text-blue);
  display: inline;
}

.footer-items .item3 {
  max-width: 370px;
}

.footer-items .item3 h3 {
  font-size: var(--fontSize-6);
  line-height: 30.4px;
  font-family: var(--fontFamily-michroma);
  font-weight: var(--weight-regular);
  margin-bottom: 21px;
}

.f-input {
  max-width: 370px;
  position: relative;
}
.f-input input {
  width: 370px;
  height: 52px;
  border-radius: 12px;
  background: #848296;
  padding: 18px 0;
  font-size: 13px;
  opacity: 12%;
  color: white;
}

.f-input input:focus{
  outline: none;
  color: white;
}



.f-input label {
  color: #848296;
  font-size: 13px;
  position: absolute;
  top: 14px;
  left: 22px;
}

.f-input input:focus + .f-input label {
  background: #000;
  color: wheat;
}
.f-input button {
  padding: 8px 28px;
  font-size: var(--fontSize-8);
  background: var(--bg-blue);
  border-radius: 8px;
  position: absolute;
  top: 15%;
  right: 12px;
  color: white;
}

.footer-section-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
  border-top: #848296 solid 1px;
}

.copyright {
  font-size: var(--fontSize-8);
}
.footer-nav ul {
  display: flex;
  font-size: var(--fontSize-8);
  font-weight: var(--weight-regular);
  gap: 35px;
}
/* Respoponsive */

@media only screen and (max-width: 1281px) {
}
@media only screen and (max-width: 1170px) {
  .container {
    max-width: 1024px;
  }

  .s5-wraper {
    flex-direction: column;
    gap: 50px;
  }

  .s5-contents {
    width: 100%;
  }

  .s5-img {
    width: 100%;
  }

  .s5-img img {
    margin: 0;
  }
}
@media only screen and (max-width: 1024px) {
  :root {
    --fontSize-1: 50px;
    --fontSize-2: 35px;
  }

  p {
    font-size: 15px;
  }

  .container {
    max-width: 912px;
  }

  .counter p {
    font-size: 20px;
  }

  .s5-heading h3 {
    width: 70%;
  }
}
@media only screen and (max-width: 912px) {
  .container {
    max-width: 820px;
  }
  .menu {
    display: block;
  }

  nav {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--bg-dark-black);
    width: 100%;
    height: 90vh;
    gap: 25px;
    z-index: 1;
    transition: 1s;
    animation-delay: 0;
  }

  nav ul {
    display: flex;
    gap: 25px;
    flex-direction: column;
    text-align: center;
  }

  .active {
    top: 2%;
  }

  nav ul li a {
    font-size: var(--fontSize-2);
    text-align: center;
    display: inline-block;
  }

  nav ul li {
    display: flex;
    align-items: center;
    gap: 5px;
    transition: var(--transition-2);
    color: white;
  }

  .section-3 {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .s3-image {
    width: 70%;
  }

  .s3-image img {
    margin-left: 0;
    max-width: 100%;
  }

  .s3-content {
    width: 95%;
    text-align: center;
    margin: auto;
  }

  .s3-content P{
    text-align: center;
  }

 .s3-content button{
  margin: auto;
  margin-top: 32px;
 }

  .s4-wraper {
    flex-direction: column;
    gap: 30px;
  }

  .s4-content {
    width: 100%;
    text-align: center;
  }

  .s4-content p {
    text-align: center;
  }

  .s4-content button {
    margin: 0 auto;
  }

  .s4-img {
    width: 100%;
  }
  .s6-content {
    flex-direction: column;
    gap: 30px;
  }

  .s6-content .content-1 {
    width: 100%;
    text-align: center;
  }

  .s6-content .content-1 img {
    margin: 0 auto;
  }

  .s6-content .content-1 p {
    text-align: center;
  }

  .s6-content .content-2 {
    width: 100%;
    text-align: center;
  }

  .s6-content .content-2 p {
    text-align: center;
  }

  .s6-content .content-2 .reviews ul {
    align-items: center;
    justify-content: center;
  }

  .s8-content {
    text-align: center;
  }

  .s8-btn::after {
    display: none;
  }
}
@media only screen and (max-width: 820px) {
  :root {
    --fontSize-1: 45px;
  }

  .container {
    max-width: 768px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 650px;
    padding-inline: 15px;
  }
  :root {
    --fontSize-1: 40px;
    --section-spacing: 50.5px 0;
  }
  .hero-content h1 {
    line-height: 75px;
  }

  .s8-items {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .footer-nav {
    display: none;
  }
  .active {
    top: 1%;
  }
}
@media only screen and (max-width: 540px) {
  :root {
    --fontSize-1: 40px;
  }
  p {
    font-size: 14px;
  }
  .hero-content h1 {
    line-height: 60px;
  }

  .s5-heading h3 {
    width: 100%;
  }
}
@media only screen and (max-width: 440px) {
  :root {
    --fontSize-1: 35px;
  }
}
@media only screen and (max-width: 412px) {
}
@media only screen and (max-width: 393px) {
  :root {
    --fontSize-1: 33px;
  }
}
@media only screen and (max-width: 390px) {
  .f-input input {
    width: 300px;
  }
}
@media only screen and (max-width: 375px) {
}
@media only screen and (max-width: 360px) {
  :root {
    --fontSize-1: 25px;
  }
  .hero-content h1 {
    line-height: 40px;
  }

  .s4-image img {
    width: 100%;
  }
  .f-input input {
    width: 250px;
  }
}

@media only screen and (max-width: 280px) {
}
